<div class="<%= name %> col-xs-12 col-sm-6 col-lg-4 rating-container">
  <% if (text === "Overall" && avg === "") { %>
    <% var req = " (required)" %>
  <% } else { %>
    <% req = "" %>
  <% } %>
  <div><%= text + req %></div>
  <div class="stars" id="<%= name %>-rating<%= avg %>"></div>
</div>