<div class="errors"></div>
<form id="review-form">
  <%= JST["reviews/_ratings_lg"]({ avg: "" }) %>

  <div class="form-group review-form">
    <label for="review_title">Title</label>
    <input type="text"
           name="review[title]"
           class="form-control"
           id="review_title">

    <label for="review_body">Body</label>
    <textarea name="review[body]"
              id="review_body"
              class="form-control"
              value="Write your review here..."></textarea>

    <input type="submit" 
           value="Submit Review"
           class="btn btn-primary review-btn"
           id="submit-review">
  </div>
</form>