.show-details tr {
  display: inline-block;
  width: 50%;
  padding: 1.8em 0;
}

.show-details td {
  display: block;
  float: left;
  font-weight: bold;
}

.show-details td:first-child {
  width: 60%;
  padding-left: 1em;
}

.rating {
  width: 40%;
  padding-right: 1em;
}

.progress {
  margin: 0;
}

.progress-success .bar {
  background: green;
}

.progress-warning .bar {
  background: yellow;
}

.progress-danger .bar {
  background: red;
}

.bar {
  height: 100%;
}