.rating {
  width: 40%;
  padding-right: 1em;
  margin-bottom: 1em;
}

.progress {
  margin: 0;
}

.progress-success .bar {
  background: green;
}

.progress-warning .bar {
  background: yellow;
}

.progress-danger .bar {
  background: red;
}

.bar {
  height: 100%;
}