<!-- <div class="m-background">
  
</div> -->

<div class="m-content">
  <div class="show-header">
    <h1 class="show-name"><%= park.escape('name') %></h1>
    
  </div>
  <div class="show-tab">
  </div>
</div>