<div class="row filter-row">
  <div class="col-xs-4 cost-text-container">
    <p class="cost-text">COST PER DAY</p>
    <div id="amount-left" class="amount"></div>
    <div id="amount-right" class="amount"></div>

    <div id="slider-range" 
         class="ui-slider ui-slider-horizontal
                ui-widget ui-widget-content ui-corner-all">
    </div>
  </div>
  <div class="col-xs-4">
    <div class="btn-container">
      <div class="btn-group filter-group" role="group" >
        <button type="button" class="btn btn-md btn-default">Cool</button>
        <button type="button" class="btn btn-md btn-default">Warm</button>
        <button type="button" class="btn btn-md btn-default">Hot</button>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="btn-container">
      <div class="btn-group filter-group" role="group">
        <button type="button" class="btn btn-md btn-default">Some Water Rides</button>
        <button type="button" class="btn btn-md btn-default">Many Water Rides</button>
      </div>
    </div>
  </div>
</div>

<div class="row filter-row">
  <div class="col-xs-4">
    <div class="btn-container">
      <div class="btn-group filter-group" role="group">
        <button type="button" class="btn btn-md btn-default">< $200</button>
        <button type="button" class="btn btn-md btn-default">< $400</button>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="btn-container">
      <div class="btn-group filter-group" role="group">
        <button type="button" class="btn btn-md btn-default">Gentle</button>
        <button type="button" class="btn btn-md btn-default">Middle</button>
        <button type="button" class="btn btn-md btn-default">Intense</button>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="btn-container">
      <div class="btn-group filter-group" role="group">
        <button type="button" class="btn btn-md btn-default">Some Roller Coasters</button>
        <button type="button" class="btn btn-md btn-default">Many Roller Coasters</button>
      </div>
    </div>
  </div>
</div>

<div class="row filter-row">
  <div class="col-xs-4 filter-res-container">
    <p class="filter-res">113 Theme Parks Found</p>
  </div>

  <div class="col-xs-8">
    <button type="button" class="btn btn-md" id="btn-filter">Filter Theme Parks</button>
  </div>
</div>

<div class="row filter-row">
  <div class="col-xs-4">
    <div class="btn-container">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sort" id="sort-by">SORT BY</button>
          
        <div class="btn-group" role="group">
          <button type="button" 
                  class="btn btn-default dropdown-toggle"
                  id="sort-selector"
                  data-toggle="dropdown" 
                  aria-haspopup="true" 
                  aria-expanded="false">
            TRIPADVISOR SCORE
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="javascript:void(0)">Cost</a></li>
            <li><a href="javascript:void(0)">Weather Score</a></li>
            <li><a href="javascript:void(0)">Intensity Score</a></li>
            <li><a href="javascript:void(0)">Number of Roller Coasters</a></li>
            <li><a href="javascript:void(0)">Number of Water Rides</a></li>
            <li><a href="javascript:void(0)">Distance From You</a></li>
          </ul>
        </div>
      </div>        
    </div>
  </div>

  <div class="col-md-2 col-md-offset-4">
    <div class="btn-container">
      <div class="btn-group format-group" role="group">
        <button type="button" class="btn btn-md btn-default">°F</button>
        <button type="button" class="btn btn-md btn-default">°C</button>
      </div>
    </div>
  </div>
  
  <div class="col-md-2">
    <div class="btn-container">
      <div class="btn-group format-group" role="group">
        <button type="button" class="btn btn-md btn-default">Grid</button>
        <button type="button" class="btn btn-md btn-default">Map</button>
      </div>
    </div>
  </div>
</div>