<div class="park-image"
     style="background-image: url('/park_images/<%= park.escape('image_url') %>')">
</div>
<div class="parks-index-item-content">
  <div class="parks-index-item-normal">
    <div class="park-basic-info">
      <p><%= park.escape('name') %></p>
      <p><%= park.escape('city') %>, <%= park.escape('state') %></p>
    </div>
  </div>

  <div class="parks-index-item-hover">
      <ul class="attribute-list">
        <li>TripAdvisor Score</li>
        <li>Weather</li>
        <li>Intensty</li>
        <li>Atmosphere</li>
      </ul>
  </div>
</div>