<div class="m-background">
</div>

<div class="m-content">
  <div class="show-header">
    <h2 class="show-header-info"><%= park.escape('name') %></h2>
    <h3 class="show-header-info"><%= park.escape('city') %>, <%= park.escape('state') %></h3>
    <div class="park-image-background park-show-image"
         style="background-image: url('/park_images/<%= park.escape('image_url') %>')">
    </div>
  </div>
  <div class="show-tabs">
    <ul class="nav nav-tabs">
      <li class="show-tab active"><a href="javascript:void(0)">Scores</a></li>
      <li class="show-tab"><a href="javascript:void(0)">Info</a></li>
      <li class="show-tab"><a href="javascript:void(0)">Reviews</a></li>
      <li class="show-tab"><a href="javascript:void(0)">Parks Nearby</a></li>
      <li class="show-tab" id="write-review"><button class="btn review-btn">Write a Review</button></li>
    </ul>
  </div>

  <div class="show-panel">
  </div>
</div>