$brightness: 0.5;
$blur: 1px;

.parks-index-item {
  float: left;
  width: 320px;
  height: 180px;
  line-height: 180px;
  position: relative;
  margin: 10px;
  text-align: center;
}

.park-image {
  width: 320px;
  height: 180px;
  position: absolute;
  background-size: 100% 100%;

  filter: blur($blur) brightness($brightness);
  // Browser Specific
  -webkit-filter: blur($blur) brightness($brightness);
  -moz-filter: blur($blur) brightness($brightness);
  -o-filter: blur($blur) brightness($brightness);
  -ms-filter: blur($blur) brightness($brightness);
}

.park-name {
  position: relative;
  color: $overlay_font-color;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
  font-weight: bold;
  font-size: 16px;
}

.parks-index-item:hover {
  .park-name {
    display: none;
  }
}