.m-background {
  background: rgba(128, 128, 128, 0.6);
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 1;
}

.m-content {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background: white;
  width: 70%;
  height: 100%;
}

.show-header {
  background: $secondary-brand-color;
  text-align: center;
  height: 200px;
  top: 0;
}

.show-name {
  color: white;
  margin: 0;
  padding: 20px;
}