<div class="errors">
</div>

<% if (new_user) { %>
  <div class="form-group">
    <label for="user_username">Username</label>
      <input type="text"
             class="form-control"
             name="user[username]"
             id="user_username">
  </div>
<% } %>

<button class="btn btn-primary" id="guest-log-in">Log In As Guest</button>

<div class="form-group">
  <label for="user_email">Email</label>
    <input type="text"
           class="form-control"
           name="user[email]"
           id="user_email">
</div>

<div class="form-group">
  <label for="user_password">Password</label>
    <input type="password"
           class="form-control"
           name="user[password]"
           id="user_password">
</div>
    
<% if (new_user) { %>
  <div class="form-group">
    <label for="password-confirmation">Confirm Password</label>
      <input type="password"
             class="form-control"
             name="password-confirmation"
             id="password-confirmation">
  </div>
<% } %>
