<label>Email
  <input type="text"
         class="form-control"
         name="email">
</label>
<br>

<label>Password
  <input type="password"
         class="form-control"
         name="password">
</label>
<br>
  
<% if (new_form) { %>
  <label>Confirm Password
    <input type="password"
           class="form-control"
           name="confirm_password">
  </label>
  <br>  
<% } %>
