<label>Email
  <input type="text"
         class="form-control"
         name="user[email]">
</label>
<br>

<label>Password
  <input type="password"
         class="form-control"
         name="user[password]">
</label>
<br>
  
<% if (new_form) { %>
  <label>Confirm Password
    <input type="password"
           class="form-control"
           name="password-confirmation">
  </label>
  <br>  
<% } %>
