<div class="row">
  <div class="col-xs-4">
    <ul class="show-scores">
        <li>
          <p class="score-desc">Trip Advisor Score</p>
          <div class="score-rtg"><%= park.escape('tripadv-rating') %></div>
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
  </div>

  <div class="col-xs-4">
    <ul class="show-scores">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>