<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <span class="show-label">Trip Advisor Rating</span>
      <span class="show-value rating">
        <%= JST["parks/show_tabs/_score_bar"]({
          score: park.escape("tripadv_rating"), scoreClass: park.scoreClass
        }) %>
      </span>
    </div>
    <div class="col-md-6">
      <span class="show-label">Weather Score</span>
      <span class="show-value rating">
        <%= JST["parks/show_tabs/_score_bar"]({
          score: park.weather().score, scoreClass: park.scoreClass
        }) %>
      </span>
    </div>
  </div>
</div>
