<tbody>
  <tr>
    <td>Trip Advisor Rating: </td>
    <td><%= park.escape('tripadv_rating') %></td>
  </tr>
  <tr>
    <td>Weather Score: </td>
    <% debugger; %>
    <td><%= park.escape('weather_score') %></td>
  </tr>
</tbody>