<tbody>
  <tr>
    <td>Trip Advisor Rating: </td>
    <%= JST["parks/show_tabs/_score_bar"]({
        score: park.escape("tripadv_rating"), scoreClass: park.scoreClass
      }) %>
  </tr>
  <tr>
    <td>Weather Score:</td>
    <%= JST["parks/show_tabs/_score_bar"]({
      score: park.weather().score, scoreClass: park.scoreClass
    }) %>
  </tr>
</tbody>