.filter-row {
  margin: 10px 0;
  height: 50px;
}

.btn-container {
  width: 100%;
  text-align: center;
}

.btn-group {
  display: inline-block;
}

#btn-filter {
  width: 100%;
  color: white;
}

.filter-res {
  font-weight: bold;
}

.filter-res-container {
  text-align: center;
}

#btn-filter:hover {
  background: $primary-brand-color;
}

#btn-filter {

}