.filter-row {
  margin: 10px 0;
  height: 50px;
}

.btn-container {
  position: relative;
}

.btn-group {
  position: absolute;
  margin: 0 auto;
}

.btn-filter {
  width: 100%;
}

.filter-res {
  font-weight: bold;
}

.filter-res-container {
  text-align: center;
}

