$button-border-radius: 25px;

.filter-row {
  margin: 10px 0;
  height: 50px;

  &:not(:first-child) {
    line-height: 50px;
  }
}
.btn-container {
  width: 100%;
  text-align: center;
  line-height: 50px;
}

.btn-group {
  display: inline-block;
}

.filter-num-container {
  text-align: center;
}

.filter-num {
  font-weight: bold;
}

.btn-group {
  .btn {
    &:first-child {
      border-top-left-radius: $button-border-radius;
      border-bottom-left-radius: $button-border-radius;
    }

    &:last-child {
      border-top-right-radius: $button-border-radius;
      border-bottom-right-radius: $button-border-radius;
    }
  }
}

.btn {
  font-weight: bold;
  color: $gray-text-color;
  padding-top: 10px; padding-bottom: 10px;

  &:hover, &:active:hover {
    background-color: white;
    border-color: #282323;
    color: $gray-text-color;
  }

  &:focus {
    color: $gray-text-color;
    background: none;
  }
}

.btn.selected-filter {
  background: $primary-brand-color;
  color: white;
}

.btn.selected-format {
  background: $primary-brand-color;
  color: white;
}

#btn-filter {
  width: 100%;
  color: white;
  background-color: $gray-text-color;
  border: none;

  &:hover {
    background: $primary-brand-color;
  }
}

#sort-by {
  background: white;
  border: 1px solid $primary-brand-color;
  color: $primary-brand-color;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  @media screen and (max-width: $break-sm) {
    font-size: 0.9em;
  }
}

#sort-selector {
  background: $primary-brand-color;
  color: white;
  border: 1px solid $primary-brand-color;

  @media screen and (max-width: $break-sm) {
    font-size: 0.9em;
  }
}

.dropdown-menu {
  background: $primary-brand-color;
  padding: 0;
  width: 200px;

  li a:hover {
    color: white;
    background: $secondary-brand-color;
  }

  li a {
    color: white;
    background: $primary-brand-color;
  }
}

.caret {
  color: white;
}

.btn-danger {
  color: white;
  }