#slider-range {
  clear: both;
}

#amount-left {
  float: left;
}

#amount-right {
  float: right;
}

.cost-text-container {
  text-align: center;
}

.cost-text {
  display: inline-block;
}

.amount {
  border: 0;
  color: $primary-brand-color;
}

.ui-widget-header {
  background: $primary-brand-color;
}

/* TODO: disable this at the source instead of overwriting it */  
.ui-state-focus, .btn:focus, .btn:focus:active {
  outline: none;
}