.user-show {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.user-title {
}

.user-show-tabs {
  width: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.user-tab {
  width: 50%;
  font-size: 2em;
}