<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navbar-container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="/icons/nav-header.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="search-li">
        <span class="glyphicon glyphicon-search search-icon" aria-hidden="true"></span>
        <input type="text" 
               class="typeahead"
               id="search-box">
        </li>
        <% if (CURRENT_USER) { %>
          <li>
            <a rel="nofollow" data-method="delete" href="/api/session">Log Out</a>
          </li>
          <li><a href="#/users/<%= ThemeParkList.CURRENT_USER.id %>">My Profile</a></li>
        <% } else { %>
          <li class="log-in"><a href="#">Log In</a></li>
          <li id="sign-up"><a href="#">Sign Up</a></li>
        <% } %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" id="menu-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MENU</a>
          <ul class="dropdown-menu" id="nav-dropdown">
            <li><a href="#">About (available soon)</a></li>
            <li><a href="#">More to come soon!</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>