<div id="nav"></div>
<div class="user-show">
  <h1 class="user-title">Hello <%= user.escape("username") %>!</h1>
  <div class="show-tabs user-show-tabs">
    <ul class="nav nav-tabs">
      <li class="show-tab user-tab" id="my-reviews"><a href="javascript:void(0)">My Reviews</a></li>
      <li class="show-tab user-tab" id="my-parks"><a href="javascript:void(0)">My Parks</a></li>
    </ul>
  </div>

  <div class="show-panel">
  </div>
</div>